<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>LSIA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body data-ng-app="app">

      <div class="container">
        <div class="content">
          <img src="assets/images/lsia.png" alt="LSIA Logo" />
          <p>Servidor privado</p>
        </div>
      </div>

  </body>
</html>
